@using ApplianceShop.Models.Orders
@using ApplianceShop.Utils.Enums
@model OrderDetailsViewModel

@{
    ViewData["Title"] = "Order Details";
}
<div class="container">
    <h1>
        Order details of
        <span class="text-danger">@Model.CustomerFullName</span>
    </h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrderTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </dt>
            <dd class="col-sm-10">

                @switch (Model.PaymentMethod)
                {
                    case PaymentMethod.Cash:
                        <i class="fa-solid fa-money-bill-1-wave text-success fs-4" title="Cash"></i>
                        break;
                    case PaymentMethod.CreditCard:
                        <i class="fa-brands fa-cc-visa text-primary fs-4" title="Credit Card"></i>
                        break;
                    case PaymentMethod.PayPal:
                        <i class="fa-brands fa-cc-paypal color-paypal fs-4" title="Paypal"></i>
                        break;
                    case PaymentMethod.Bitcoin:
                        <i class="fa-brands fa-bitcoin color-bitcoin fs-4" title="Bitcoin"></i>
                        break;
                }

            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalPrice)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsPaid)
            </dt>
            <dd class="col-sm-10">

                @if (Model.IsPaid)
                {
                    <i class="fa-solid fa-circle-check text-success fs-4"></i>
                }
                else
                {
                    <i class="fa-solid fa-circle-xmark text-danger fs-4"></i>
                }

            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Notes)
            </dd>
            <dt class="col-sm-2">
                Customer
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerFullName)
            </dd>
        </dl>
    </div>

    <hr />

    <h4>Ordered Appliances:</h4>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">

        @foreach (var appliance in Model.Appliances)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="~/images/Appliances/@($"{appliance.Brand} {appliance.Model}.png")"
                         class="card-img-top" alt="@appliance.Brand, @appliance.Model">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="text-decoration-none title" asp-controller="Appliances" asp-action="Details" asp-route-id="@appliance.Id" title="Details">
                                @appliance.Brand, @appliance.Model
                            </a>
                        </h5>
                        <p class="card-text">@appliance.Features</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <hr />

    <h4>Ordered Parts:</h4>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">

        @foreach (var part in Model.Parts)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="~/images/Parts/@($"{part.Name} {part.PartNumber}.png")"
                         class="card-img-top" alt="@part.Name">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="text-decoration-none title" asp-controller="Parts" asp-action="Details" asp-route-id="@part.Id" title="Details">
                                @part.Name
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="mt-3">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary ms-2">Edit</a>
    </div>
</div>
