@using ApplianceShop.Models.Orders
@using ApplianceShop.Utils.Enums
@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "Orders";
}
<div class="container">
    <h1>Orders</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <table class="table table-hover dataTable">
        <thead>
            <tr>
                <th class="text-start">
                    @Html.DisplayNameFor(model => model.OrderTime)
                </th>
                <th class="text-start">
                    $ @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th class="text-start">
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th class="text-start">
                    @Html.DisplayNameFor(model => model.PaymentMethod)
                </th>
                <th class="text-start">
                    @Html.DisplayNameFor(model => model.IsPaid)
                </th>
                <th class="text-start">
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td class="text-start">
                        @Html.DisplayFor(modelItem => order.OrderTime)
                    </td>
                    <td class="text-start">
                        $  @Html.DisplayFor(modelItem => order.TotalPrice)
                    </td>
                    <td class="text-start">
                        @Html.DisplayFor(modelItem => order.Notes)
                    </td>
                    <td class="text-start">

                        @switch (order.PaymentMethod)
                        {
                            case PaymentMethod.Cash:
                                <i class="fa-solid fa-money-bill-1-wave text-success fs-4" title="Cash"></i>
                                break;
                            case PaymentMethod.CreditCard:
                                <i class="fa-brands fa-cc-visa text-primary fs-4" title="Credit Card"></i>
                                break;
                            case PaymentMethod.PayPal:
                                <i class="fa-brands fa-cc-paypal color-paypal fs-4" title="Paypal"></i>
                                break;
                            case PaymentMethod.Bitcoin:
                                <i class="fa-brands fa-bitcoin color-bitcoin fs-4" title="Bitcoin"></i>
                                break;
                        }

                    </td>
                    <td class="text-start">

                        @if (order.IsPaid)
                        {
                            <i class="fa-solid fa-circle-check text-success fs-4"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-circle-xmark text-danger fs-4"></i>
                        }

                    </td>
                    <td class="text-start">
                        @Html.DisplayFor(modelItem => order.Customer.FullName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@order.Id" title="Edit"><i class="fa-solid fa-pen-to-square fast-tooltip"></i></a>
                        <a class="ms-2" asp-action="Details" asp-route-id="@order.Id" title="Details"><i class="fa-solid fa-circle-info text-info fast-tooltip"></i></a>
                        <a class="ms-2" asp-action="Delete" asp-route-id="@order.Id" title="Delete" data-bs-toggle="modal" data-bs-target="#delete_@order.Id">
                            <i class="fa-solid fa-trash-can text-danger fast-tooltip"></i>
                        </a>

                        <!-- Delete Modal -->
                        <div class="modal fade" id="delete_@order.Id" tabindex="-1" aria-labelledby="#delete_@order.Id" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Order</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5>
                                            Are you certain you want this order of
                                            <span class="text-danger">
                                                <br />
                                                @order.Customer.FullName
                                            </span> ?
                                        </h5>
                                    </div>
                                    <div class="modal-footer">
                                        <form asp-action="Delete">
                                            <input type="hidden" name="id" value="@order.Id" />
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger ms-2">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>