@using ApplianceShop.Models.Parts
@model PartDetailsViewModel

@{
    ViewData["Title"] = "Details of a Part";
}
<div class="container">
    <h1>Details of
        <span class="text-danger">@Model.Name - @Model.PartNumber</span>
    </h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PartNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PartNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StockQuantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StockQuantity)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary ms-2">Edit</a>
    </div>
</div>