@using ApplianceShop.Models.Appliances
@model IEnumerable<ApplianceViewModel>

@{
    ViewData["Title"] = "Appliances";
}
<div class="container">
    <h1>Appliances</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <table class="table dataTable table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    $ @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Features)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockQuantity)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appliance in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => appliance.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => appliance.Model)
                    </td>
                    <td>
                        $ @Html.DisplayFor(modelItem => appliance.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => appliance.Features)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => appliance.StockQuantity)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@appliance.Id" title="Edit"><i class="fa-solid fa-pen-to-square fast-tooltip"></i></a>
                        <a class="ms-2" asp-action="Details" asp-route-id="@appliance.Id" title="Details"><i class="fa-solid fa-circle-info text-info fast-tooltip"></i></a>
                        <a class="ms-2" asp-action="Delete" asp-route-id="@appliance.Id" title="Delete" data-bs-toggle="modal" data-bs-target="#delete_@appliance.Id">
                            <i class="fa-solid fa-trash-can text-danger fast-tooltip"></i>
                        </a>

                        <!-- Delete Modal -->
                        <div class="modal fade" id="delete_@appliance.Id" tabindex="-1" aria-labelledby="#delete_@appliance.Id" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Appliance</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5>
                                            Are you certain you want to delete
                                            <span class="text-danger">
                                                <br />
                                                @appliance.Brand @appliance.Model
                                            </span> ?
                                        </h5>
                                    </div>
                                    <div class="modal-footer">
                                        <form asp-action="Delete">
                                            <input type="hidden" name="id" value="@appliance.Id" />
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger ms-2">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>