@using ApplianceShop.Models.Customers
@model IEnumerable<CustomerViewModel>

@{
    ViewData["Title"] = "Customers";
}
<div class="container">
    <h1>Customers</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <table class="table table-hover dataTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => customer.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.Age)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@customer.Id" title="Edit"><i class="fa-solid fa-pen-to-square fast-tooltip"></i></a>
                        <a class="ms-2" asp-action="Details" asp-route-id="@customer.Id" title="Details"><i class="fa-solid fa-circle-info text-info fast-tooltip"></i></a>
                        <a class="ms-2" asp-action="Delete" asp-route-id="@customer.Id" title="Delete" data-bs-toggle="modal" data-bs-target="#delete_@customer.Id">
                            <i class="fa-solid fa-trash-can text-danger fast-tooltip"></i>
                        </a>

                        <!-- Delete Modal -->
                        <div class="modal fade" id="delete_@customer.Id" tabindex="-1" aria-labelledby="#delete_@customer.Id" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Customer</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5>
                                            Are you certain you want to delete
                                            <span class="text-danger">
                                                <br />
                                                @customer.FullName
                                            </span> ?
                                        </h5>
                                    </div>
                                    <div class="modal-footer">
                                        <form asp-action="Delete">
                                            <input type="hidden" name="id" value="@customer.Id" />
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger ms-2">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>